body {
    background: black;
}

a {
    color: white;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-decoration: none;
}

a:after {
    content: "";
    height: 1px;
    background: white;
    position: absolute;
    pointer-events: none;
    bottom: -5px;
    left: 0;
    right: 0;
    opacity: 0;
    transform: scale(0, 1);
    transition: all 200ms;
}

a:hover:after {
    opacity: 1;
    transform: scale(1, 1);
}

.container {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, 
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    animation: fadein 1s;
}

.nav {
    display: flex;
    font-size: 14pt;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    height: 3%;
}

.logo_container {
    text-align: center;
    top: 10%;
    margin: 0 auto;
}

.headshot_image {
    position: relative;
    width: 15%;
    pointer-events: all;
    border-radius: 20px;
}

.profile_image {
    position: relative;
    width: 30%;
    pointer-events: all;
    border-radius: 20px;
}

.contact {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 85%;
}

iframe {
    width: 100%;
}

.introduction {
    margin-top: 2%;
    text-align: center;
}

.type_text {
    width: 14vw;
    text-align: center;
    margin: 1px auto;
    font-size: 1.75vw;
    font-weight: 650;
    letter-spacing: 0.25vw;
    color: white;
    text-shadow: 1px 1px darkgray;
}

.type_text p {
    white-space: nowrap;
    overflow: hidden;
    border-right: .10em solid white;
    margin: 0 auto;
    animation:
        1s 2s type steps(12, end) both,
        1s 0s blink step-end infinite;
    pointer-events: all;
}

.about {
    display: inline-flex;
    font-size: 1.5vw;
    width: 90%;
    background: rgba(0, 0, 0, .4);
    border-radius: 20px;
    margin-top: 75px;
    padding: 0 20px 0 20px;
}

.about p {
    pointer-events: all;
}

embed {
    width: 100%;
    height: 100%;
    background-color: white;
}

.background {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: -1;
}

.projects_container {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 1.25vw;
    margin-top: 20px;
}

.project_header {
    text-align: center;
    margin-top: 50px;
    font-size: 2vw;
    font-weight: 650;
    letter-spacing: 0.25vw;
    color: white;
    text-shadow: 1px 1px darkgray;
}

.hive_image {
    width: 35%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.astrobrawl_image {
    width: 50%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.footer {
    color: white;
    bottom: 20px;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.footer a {
    color: white;
    margin: 0;
    transition: all 200ms;
    pointer-events: all;
}

.footer a:hover {
    color: white;
}

.left {
    display: inline-block;
    margin-left: 0;
    margin-right: 30px;
}

.right {
    display: inline-block;
}

.right a {
    margin-right: 30px;
}

#passthrough {
    pointer-events: none;
}

@media only screen and (orientation: portrait) {
    .background {
        height: 100%;
        width: auto;
    }

    .headshot_image {
        width: 25%;
    }
    
    .profile_image {
        width: 60%;
    }
    
    .introduction {
        margin-top: 5%;
    }

    .project_header {
        font-size: 4vw;
    }

    .projects_container {
        font-size: 2vw;
    }

    .type_text {
        width: 22vw;
        margin: 1px auto;
        font-size: 3vw;
    }

    .about {
        font-size: 2vw;
    }

    .hive_image {
        width: 60%;
        height: auto;
    }
    
    .astrobrawl_image {
        width: 75%;
        height: auto;
    }
}

@keyframes type {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
